<div style="width: 100px">
  <div style="color: lightblue; border-radius: 3px">
    <div>
      <%= message.body %>
    </div>
    <div style="text-decoration-color: #999999">
      <%= message.created_at %>
    </div>
  </div>
</div>