<div class="message-line-incoming">
  <div class="incoming">
    <div>
      <%= message.body %>
    </div>
    <div style="text-decoration-color: #999999">
      <%= message.created_at %>
    </div>
  </div>
</div>