<div style="width: 45%">
  <div class = "outcoming">
    <div>
      <%= message.body %>
    </div>
    <div style="text-decoration-color: #999999">
      <%= message.created_at %>
    </div>
  </div>
</div>