/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a:link, a:visited
{
    opacity: 0.7;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-family: "Century Gothic";
    font-weight: bold;
    background-color: #c4f6ff;
    text-align: center;
    display: inline-block;
    padding: 14px 25px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    user-select: none;
    transition: opacity 0.3s;
}
a:hover
{
    opacity: 1;
    text-decoration: none;
    transition: opacity 0.3s;
}

.image
{
    alt: "Dragon Sleeping";
    user-select: none;
    pointer-events: none;
    width:48%;
    height:48%;
}

.input_text
{
    text-align: left;
    font-family: "Century Gothic";
    font-weight: bold;
    float: left;
    margin-bottom: 0.25rem;
    height: 35px;
    width: 190px;
}
.input_field
{
    float: right;
    margin-bottom: 0.25rem;
    height: 20px;
    width: 150px;
}
.submit
{
    border: none;
    user-select: none;
    border-radius: 10px;
    font-family: "Century Gothic";
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0.5rem;
    height: 35px;
    width: 190px;
    background: #c4f6ff;
    transition: background 0.3s;
}
.submit:hover
{
    transition: background 0.3s;
    background-color: #8bf1ff;
}