.char-ability-header
{
    font-family: "Century Gothic";
    font-weight: bold;
}

.char-button
{
    float: bottom;
    margin-top: 2rem;
    font-family: "Century Gothic";
    font-weight: bold;
    padding: 1rem;
    border-radius: 20px;
    background: #2d94be;
}

.char-container
{
    width: 950px;
    height: 1500px;
    margin: auto;
    border: solid red;
}

.main-info-container
{
    align-content: center;
    display: inline-block;
    margin-left: 20px;
    padding: 2px;
    width: 900px;
    height: 300px;
    border: solid black;
}

.characteristics-container
{
    display: inline;
    margin-top: 1%;
    margin-right: 2%;
    padding: 2px;
    float: right;
    width: 420px;
    height: 450px;
    border: solid green;
}

.saving-throws-container
{
    display: inline;
    margin-top: 1%;
    margin-right: 2%;
    padding: 2px;
    float: right;
    width: 420px;
    height: 50vh;
    border: solid yellow;
}

.perks-container
{
    display: inline;
    margin-top: 5px;
    padding: 2px;
    float:left;
    width: 420px;
    height: 1000px;
    border: solid blue;
}

.input-text-char
{
    border: solid;
    font-family: "Century Gothic";
    float:left;
    margin-left: 1px;
    margin-bottom: 5px;
    padding: 15px;
    height: 1%;
    width: 45%;
}


.input-field-char
{
    padding: 5px;
    float:right;
    margin-bottom: 5px;
    margin-right: 1px;
    height: 3%;
    width: 35%;
}

