.chat-box
{
    width: 20%;
    border-radius: 10px;
    background: #f4fcfd;
}

.message-line
{
    width:100%;
    margin-bottom: 5px;
}

.message-line-incoming
{
    display: flex;
    float:right;
    width: 45%;
}

.incoming
{
    background: lightblue;
    border-radius: 3px
}

.message-line-outcoming
{
    display: flex;
    float:left;
    width: 45%;
}

.outcoming
{
    display: flex;
    float:right;
    background: darkblue;
    border-radius: 3px;
}

.message-input
{
    margin-top: 10px;
    width:20%;
    padding: 5px;
    height: 30px;
    border: #dee9ec solid 2px;
    border-radius: 5px;
    background: #f7fafc;
    resize: none;
}